@model QuirkyBookRental.Models.IndividualButtonPartial

<a type="button" class="btn @Model.ButtonType btn-sm" href="@Url.Action(Model.Action)@Model.ActionParamater">
    <span class="glyphicon @Model.Glyph"></span>
    <span>@Model.Text</span>
</a>

